body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
    color: white;

}

.responsive-in-logo {
    font-size: 23px;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.navbar-container {
    height: 11vh;
    color: white;
    display: flex;
    justify-content: center;
    background-color: rgb(10, 7, 51);
    box-shadow: 0px 0px 20px -6px rgb(56, 55, 55);
}

.navbar-container .navbar-inner-container {
    width: 90%;
    height: 9vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30px;
}

.navbar-left-div {
    font-size: 26px;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar-right-div ul {
    display: flex;
    align-items: center;
    gap: 40px;
}

@media (max-width:755px) {
    .navbar-right-div ul {
        display: flex;
        align-items: center;
        gap: 0px;

    }

    .navbar-right-div ul li {
        margin-left: 20px !important;

    }
}

@media (max-width:630px) {
    .navbar-right-div {
        display: none;
    }

    .three-line-responsive {
        display: block !important;
    }
}


.navbar-right-div ul li {
    position: relative;
    cursor: pointer;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 500;

}

.navbar-right-div ul li::after {
    content: '';
    position: absolute;
    width: 0px;
    height: 2px;
    background: linear-gradient(-90deg, blue, rgb(43, 120, 235));
    transition: all 250ms ease-in-out;
    bottom: -5px;
    left: 0;
}

.navbar-right-div ul li:hover::after {
    width: 60px;

}

.navbar-right-div ul li:hover {
    color: transparent;
    background: linear-gradient(45deg, blue, rgb(226, 42, 180));
    -webkit-background-clip: text;
    transition: all 250ms ease-in-out;
}

.three-line-responsive {
    display: none;
}